head{
    top{
        margin: 0
        padding: 10
    }
}


body {
    margin: 0;
    padding: 10px;
  }
  
  
  .container-one {
    width: 100%;
    border: 5px dotted black;
    padding: 5px;
    box-sizing: border-box ;
  }
  
      
  .container-two {
    width: 100%;
    border: 5px dotted black;
    padding: 5px;
    box-sizing: border-box ;
    margin-top: 10px; 
  }
  
    
 